/* detail-card.component.css */
.detail-card {
  margin-left: 20px;
  background: none;
}

.mat-mdc-card {
  box-shadow: none;
}

.mat-mdc-card-avatar {
  margin-bottom: 0px !important;
  height: 50px;
  width: 50px;
}
