<mat-toolbar class="bg-tertiary flex justify-between h-28 mat-elevation-z1">
  <div class="flex items-center">
    <a href="/" class="mr-8 bg-primary rounded-3xl p-3">
      <img src="assets/img/vox-tecnologia.png" alt="logo" class="w-10 h-8" />
    </a>
    <span class="m-0 text-primary">{{ title }}</span>
  </div>
  <button
    class="bg-primary text-white rounded p-2 flex items-center"
    mat-raised-button
    (click)="navigateToNewCompanies()"
    *ngIf="exibirBotao"
  >
    <mat-icon class="mr-2">add_circle</mat-icon> Solicitar Abertura
  </button>
</mat-toolbar>
