<mat-card class="w-[28rem] flex justify-between" appearance="outlined">
  <mat-card-header>
    <div
      mat-card-avatar
      class="bg-tertiary-medium text-gray-400 flex items-center justify-center"
    >
      <mat-icon>person</mat-icon>
    </div>
    <mat-card-title class="text-sm"> {{ ds_responsavel }}</mat-card-title>
    <mat-card-subtitle class="text-xs text-gray-600">{{
      ds_nome_fantasia
    }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>
    <button
      class="flex bg-primary-light rounded p-2 text-white"
      mat-button
      (click)="showDetails()"
    >
      <mat-icon class="mr-2">visibility</mat-icon> Visualizar
    </button>
  </mat-card-actions>
</mat-card>
