<section class="flex p-10">
  <div class="pl-10 flex flex-col gap-4">
    <div *ngFor="let card of empresaData">
      <app-card
        [ds_nome_fantasia]="card.empresa.ds_nome_fantasia"
        [ds_responsavel]="card.solicitante.ds_responsavel"
        (click)="onViewDetails(card.id)"
      ></app-card>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center mx-24">
    <div class="border-l-2 border-primary-light h-[50%] m-4"></div>
    <mat-icon class="text-primary-light">keyboard_arrow_right</mat-icon>
    <div class="border-l-2 border-primary-light h-[50%] mt-4"></div>
  </div>
  <div>
    <app-detail-card
      *ngIf="selectedDetail"
      [id]="selectedDetail.id ?? ''"
      [ds_nome_fantasia]="selectedDetail.empresa?.ds_nome_fantasia ?? ''"
      [ds_responsavel]="selectedDetail.solicitante?.ds_responsavel ?? ''"
      [nu_cpf]="selectedDetail.solicitante?.nu_cpf ?? ''"
      [ds_logradouro]="selectedDetail.empresa?.endereco?.ds_logradouro ?? ''"
      [ds_bairro]="selectedDetail.empresa?.endereco?.ds_bairro ?? ''"
      [ds_municipio]="selectedDetail.empresa?.endereco?.ds_municipio ?? ''"
      [co_cep]="selectedDetail.empresa?.endereco?.co_cep || 0"
      [ds_complemento]="selectedDetail.empresa?.endereco?.ds_complemento ?? ''"
      [co_uf]="selectedDetail.empresa?.endereco?.co_uf ?? ''"
      [co_numero]="selectedDetail.empresa?.endereco?.co_numero ?? ''"
    >
    </app-detail-card>
  </div>
</section>
